{% extends "layout.html" %}
{% block title %}Etsi kätköjä{% endblock %}
{% block content %}
<h2>Etsi kätköjä</h2>

<form action="/find_item" method="get">
  <p>
    <label for="query">Hakusana, (esim. kaupunginosa, kaupunki tai kätkön nimi)</label>:<br/>
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <input type="submit" value="Etsi">
</form>

{% if query %}
<h3>Hakutulokset: "{{ query }}"</h3>
<ul>
  {% for item in results %}
  <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
  {% else %}
  <li>Ei tuloksia tällä hakusanalla.</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
