{% extends "layout.html" %}
{% block title %}Lisää uusi kätkö{% endblock %}
{% block content %}
<h2>Lisää uusi kätkö</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required />
  </p>
  <p>
    <label for="location">Sijainti:</label> <br />
    <select name="location" id="location" required>
      <option value="">-- Valitse kaupunki/alue --</option>
      {% for city, neighborhoods in classes.items() %}
        <optgroup label="{{ city }}">
          {% for n in neighborhoods %}
            <option value="{{ city }}:{{ n }}">{{ n }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
  </p>
  <p>
    <label for="coordinates">Koordinaatit:</label> <br />
    <input type="text" name="coordinates" id="coordinates" placeholder="esim. N 60° 10.123 E 024° 56.456" maxlength="100" required />
  </p>
  <p>
    <label for="description">Kuvaus</label>: <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  <p>
    <label for="created_date">Piilotuspäivämäärä:</label> <br />
    <input type="date" name="created_date" id="created_date" required />
  </p>
  
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää kätkö" />
</form>
{% endblock %}
